/* Contenedor principal del formulario */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  max-width: 500px;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url("../img/midelogo.png");
  background-repeat: no-repeat;
  background-size: 120px;
  background-position: center bottom 10px;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.form-group {
  margin-bottom: 1rem;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
}

/* Consolidación de reglas para inputs */
input {
  width: 100%;
  max-width: 300px; /* Ajuste para que el tamaño máximo sea consistente */
  padding: 1rem;
  height: 3rem; 
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus {
  border-color: #034C8C;
  box-shadow: 0 0 5px rgba(3, 76, 140, 0.5);
}

.error-container {
  min-height: 1.5rem; /* Ajustar según sea necesario */
}

.error {
  color: red;
  margin-top: 1rem;
  text-align: center;
  height: 1.5rem; /* Asegura una altura consistente */
}

.btn-login {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: #034C8C;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 1rem;
  margin-top: 1rem;
}

.btn-login:hover {
  background-color: #F2CB05;
}

.btn-linkRegistro {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.btn-linkRegistro:hover {
  background-color: #0056b3;
}

#usuarioInput{
  width: 100%;
  max-width: 300px; /* Ajuste para que el tamaño máximo sea consistente */
  padding: 1rem;
  height: 3rem; 
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}